<% @user = User.find(session[:id])%>
<div class="col-md-6 scrollable_block" >
  <div class="col-md-12 bg-info img-rounded ">
    <h4 class="text-center">List of my projects:</h4>
        <table class="table">

          <thead class="text-center">
          <tr>
            <th class="text-center">Name</th>
          </tr>

          </thead>
          <%= @user.projects.find_each do |p|%>
          <tbody class="text-center">
          <tr>

            <td><%=link_to p.name, controller: 'tasks', action: 'index', project_id: p.id%></td>
          </tr>
          </tbody>
          <%end%>
    </table>
  </div>
</div >

