  <div class="col-md-4 scrollable_block">
    <div class="col-md-12 bg-info img-rounded">
      <table class="table ">
        <h4 class="text-center">List of programmers:</h4>
        <thead>
          <tr >
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <%   %>
        <% User.where(role: 'programmer').each do |user| %>
            <tbody>
            <tr>
              <td ><%= user.name %></td>
              <td ><%= user.email %></td>
              <td > <%= button_to 'Edit',edit_user_path(user),method: :get, class: 'btn btn-xs btn-warning'%></td>
              <td ><%= button_to 'Delete',user_path(user),method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-danger'%></td>
            </tr>
            </tbody>
        <% end %>
      </table>
    </div>
  </div >
