<div class="col-md-6 scrollable_block">
  <div class="col-md-12 bg-info img-rounded">
    <table class="table ">
      <h4 class="text-center">List of programmers:</h4>
      <thead>
      <tr >
        <th>Name</th>
        <th>Email</th>

      </tr>
      </thead>
      <%   %>
      <% User.where(role: 'programmer').each do |user| %>
          <tbody>
          <tr>
            <td ><%= user.name %></td>
            <td ><%= user.email %></td>

          </tr>
          </tbody>
      <% end %>
    </table>
  </div>
</div >
