  <div class="col-md-4 scrollable_block">
    <div class="col-md-12 bg-info img-rounded ">

      <table class="table">
        <h4 class="text-center">List of projects:</h4>
        <thead class="text-center">
          <tr>
            <th>Name</th>
            <th> </th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% Project.all.each do |project| %>
            <tbody>
            <tr>
              <td><%= project.name %></td>
              <td ><%= button_to "Show" ,project_path(project.id), method: :get, class: 'btn btn-xs btn-info'%></td>
              <td ><%= button_to "Edit" ,edit_project_path(project.id),method: :get,class: 'btn btn-xs btn-warning'%></td>
              <td ><%= button_to "Delete" ,project_path(project.id),method: :delete,data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger'%></td>
            </tr>
            </tbody>
        <% end %>
      </table>
    </div>
  </div >

