
<div class="col-md-3 scrollable_block">
      <div class="col-md-12 bg-info img-rounded ">
        <h4 class="text-center">Assigned Tasks:</h4>
        <table class="table ">
          <thead class="text-center">

          <tr>

            <th class="text-center">Name</th>
            <th class="text-center"></th>
            <th class="text-center"></th>

          </tr>
          </thead>
          <tbody>
          <% @project.tasks.each do |t| %>
              <% if t.assigned_user_id == @user.id%>
              <tr>
                <% if t.status == "not started" %>

                <td class="text-center"><%= t.title %></td>
                <td class="text-center"><%= button_to 'Delete', [t.project, t], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
                <td><%= link_to '<i  class="glyphicon glyphicon-play "></i>'.html_safe, {controller: 'tasks', action: 'start_task', id: t.id, project_id: @project.id},
                                    class: "btn btn-xs", id: "start_b" %>
                </td>     

                <% end %>
              </tr>
          <% end %>
          <% end %>
          </tbody>

        </table>

      </div>
    </div>
