

<!DOCTYPE html>
<html>
<header>
  <% @user = User.find(session[:user_id])%>
  <% @project= Project.find(params[:project_id])%>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >

          <p>Project: <%= @project.name%></p>
        </a>
      </div>
    </div>
  </nav>
</header>
<body class="bg-success">
<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <p  class="text-info" ><%= link_to 'Back', :back%></p>
  </div>
</div>
<br>

<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <% @project= Project.find(params[:project_id]).id%>
    <p  class="text-info" ><%= link_to "Add new task", controller: 'tasks', action: 'create', :p_id => @project%></p>
  </div>
<br>

<div class="row row-grid text-info">
  <div class="col-md-4 ">
    <div class="col-md-12 bg-info ">

      <table class="table ">
        <h4 class="text-center">Current Tasks:</h4>

        <thead class="text-center">
        <tr>
          <th class="text-center">Name</th>
        </tr>
        </thead>

        <tbody>
        <% @user.tasks.find_each do |t|%>
        <tr>

          <td class="text-center"><%=t.title%></td>

        </tr>
        <%end%>
        </tbody>

      </table>
    </div>
  </div>
</div>
  </div>

<br>
</body>
</html>
