
<div class="row row-grid text-info">
  <div class="col-md-12 text-center">
    <p  class="text-info" ><%= link_to 'Back', '/tasks' %></p>
<h4>Details: <%= @project.description %></h4>
  </div>
</div>

<div class="row row-grid text-info">

</div>
