<!DOCTYPE html>
<html>
<header >
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >
          <p>Project Management App</p>
        </a>
        <p class="navbar-text">Signed in as <%= User.find(session[:user_id]).name%></p>

      </div>
      <a  class="navbar-right " ><%= button_to "Log out", logout_path, :method => :delete,:class=>"btn btn-default btn-sm"%></a>
    </div>
  </nav>
</header>
<body class="bg-success">

<div class="row row-grid text-info">
  <div class="col-md-12 ">
    <div class="col-md-12 bg-info ">
      <h4 class="text-center">List of my projects:</h4>
      <% @user = User.find(session[:user_id])%>


          <table class="table ">

            <thead class="text-center">
            <tr>
              <th class="text-center">Name</th>
            </tr>
            <%= @user.projects.find_each do |p|%>
            </thead>
            <tbody class="text-center">
            <tr>

              <td><%=link_to p.name, controller: 'tasks', action: 'index', :project_id => p.id%></td>
            </tr>
            </tbody>
      <%end%>
      </table>
    </div>
  </div>
</div>

</body>
</html>