<!DOCTYPE html>
<html>
<header >
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" >
          <p>Project Management App</p>
        </a>
        <p class="navbar-text">Signed in as <%= User.find(session[:user_id]).name%></p>

      </div>
      <a  class="navbar-right " ><%= button_to "Log out", logout_path, :method => :delete%></a>
    </div>
  </nav>
</header>
<body>

</body>
</html>