
<div class="col-md-4 ">
  <div class="col-md-12 bg-info img-rounded ">
    <h4 class="text-center">Existing Tasks:</h4>
    <table class="table ">
      <thead class="text-center">
      <tr>
        <th></th>
        <th class="text-center">Name</th>
        <th class="text-center">Status</th>
      </tr>
      </thead>
      <tbody>
      <% @project.tasks.each do |t| %>
          <tr>
            <td class="text-center"><%=  link_to '<i class="glyphicon glyphicon-hand-right"></i>'.html_safe, {controller: 'tasks', action: 'show', id: t.id, project_id: @project.id},
                                                 class: "btn btn-xs" %> </td>
            <td class="text-center"><%= t.title %></td>
            <td class="text-center"><%= t.status %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
