<ul  class="nav nav-pills">
  <li<% if action_name == 'daily' %> class="active"<% end %>>
    <a href="/reports/daily">Daily</a>
  </li>
  <li<% if action_name == 'monthly' %> class="active"<% end %>>
    <a href="/reports/monthly">Monthly</a>
  </li>
</ul>