<div class="text-center">
<%= link_to 'Back', '/dashboard' %>
</div>

<%= render 'tabs' %>

  <div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
      <%= render 'selectdate' %>
      <%= render 'timeworked'%>
    </div>
  </div>


