<!DOCTYPE html>
<html>
<head>
  <title>Project Management App</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-warning">
<header >
</header>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
